body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #6a11cb, #2575fc);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

h2 {
    color: #555;
    margin-top: 20px;
}

h3 {
    color: #666;
    margin-top: 15px;
}

p, ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

pre {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}


.button-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
    background-color: #ffeb3b;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: calc(100% - 40px); /* Ajusta a largura para caber dentro do contêiner */
    margin: 0 auto 10px auto; /* Centraliza e adiciona um espaço entre os botões */
}

.button:hover {
    background-color: #ffc107;
    transform: scale(1.05);
}