<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cristiano Ronaldo</title>
    <style>
        body {
            background: white;
            color: red;
        }
    </style>
</head>
<body>
    <header>
        <h1>Cristiano Ronaldo</h1>

        <nav>
            <a href="{% url 'novaapp:sobre' %}">AboutCR7</a>
            <a href="{% url 'novaapp:interesses' %}">InteressesCR7</a>
        <nav>

    </header>


    <main>
        <h2>Cristiano Ronaldo: Uma Breve Jornada do Ícone do Futebol</h2>
        <p>Cristiano Ronaldo, um nome que ressoa em todo o mundo do futebol, transcendeu as fronteiras do esporte para se tornar uma figura globalmente reconhecida.</p>
        <p>Nascido em 5 de fevereiro de 1985, na Ilha da Madeira, Portugal, Ronaldo começou sua jornada no futebol como uma criança cheia de sonhos, rapidamente ascendendo nas fileiras do esporte para se tornar um dos jogadores mais renomados de todos os tempos.</p>
        <p>Cristiano Ronaldo acumulou ao longo da sua carreira uma impressionante coleção de prêmios individuais e coletivos, como por exemplo:</p>

        <ul>
            <li><strong>5 Bolas de Ouro:</strong> Que reconhecem o melhor jogador de futebol do mundo.</li>
            <li><strong>4 Botas de Ouro:</strong> Que serve para premiar o melhor marcador de golos na Europa.</li>
        </ul>
    <main>

    <footer>
        <p>&copy; 2024 Programação Web, Universidade Lusófona - Todos os direitos reservados.</p>
    </footer>

</body>
</html>