<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interesses CR7</title>


    <style>
        body {
            background: white;
            color: red;
        }
    </style>

</head>
<body>

    <header>
        <h1>Os Interesses de Cristiano Ronaldo</h1>


        <nav>
            <a href="{% url 'novaapp:index' %}">Introducao</a>
            <a href="{% url 'novaapp:sobre' %}">AboutCR7</a>
        <nav>

    </header>

    <main>
      <h2>Interesses CR7</h2>
      <p>Fora do campo, Cristiano Ronaldo é conhecido pelos seus diversos interesses, que vão desde o empreendedorismo até ao estilo de vida saudável. É proprietário de uma linha de hotéis, possui a sua própria marca de roupa, investe em negócios imobiliários e possui uma empresa de tecnologia, demonstrando o seu espírito empreendedor e visão para além do futebol.</p>
      <p>Além disso, Ronaldo é um entusiasta do fitness e saúde, dedicando-se a uma rotina rigorosa de treino físico e mantendo uma dieta equilibrada para garantir o seu desempenho máximo no campo. A sua presença nas redes sociais também revela o seu gosto por viagens, moda e momentos de lazer com a sua família e amigos.</p>
      <p>Em suma, Cristiano Ronaldo não é apenas um ícone do futebol, mas também uma figura multifacetada, cuja vida pessoal e interesses fora do campo acrescentam camadas à sua impressionante carreira desportiva.</p>
    </main>

    <footer>
        <p>&copy; 2024 Programação Web, Universidade Lusófona - Todos os direitos reservados.</p>
    </footer>

</body>
</html>