<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About CR7</title>

    <style>
        body {
            background: white;
            color: red;
        }
    </style>


</head>
<body>

    <header>
        <h1>About CR7</h1>


        <nav>
            <a href="{% url 'novaapp:index' %}">Introducao</a>
            <a href="{% url 'novaapp:interesses' %}">InteressesCR7</a>
        <nav>

    </header>

    <main>
      <h2>A Vida Pessoal de Cristiano Ronaldo</h2>
      <p>Com 39 anos de idade, Cristiano Ronaldo mantém-se como um dos jogadores mais influentes e talentosos da atualidade. É pai de quatro filhos: Cristiano Jr., os gémeos Eva e Mateo, e Alana Martina. A sua namorada de longa data, Georgina Rodriguez, é mãe de Alana Martina, enquanto Cristiano é o pai das outras três crianças.</p>
      <p>Para além da sua família próxima, Ronaldo tem uma relação próxima com a sua mãe, Dolores Aveiro, que desempenhou um papel fundamental na sua vida e carreira desde o início. O seu pai, José Dinis Aveiro, faleceu em 2005, mas a sua influência continua a ser sentida na vida e mentalidade de Cristiano Ronaldo.</p>
    </main>

    <footer>
        <p>&copy; 2024 Programação Web, Universidade Lusófona - Todos os direitos reservados.</p>
    </footer>

</body>
</html>